
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #00A9FF;
    gap: 0;
}

.generate{
    align-items: center;
    background-color: #00A9FF;
    display: flex;
    justify-content: center;


}

#button{
    height: 2rem;
    background-color: black;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    border-radius: 10%;
}

.mybutton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.result{
    display: block;
    justify-content: center;
    background-color: orange;
    justify-content: center;
    padding: 1rem;
}