
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: #00A9FF;
    gap: 0;
}

.generate{
    align-items: center;
    background-color: #00A9FF;
    display: flex;
    justify-content: center;


}



#button{
    height: 2rem;
    background-color: black;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: large;
}

.mybutton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.result{
    display: block;
    justify-content: center;
    justify-content: center;
    padding: 1rem;
}